/* Media Query para Celulares e Tablets (Pequenos e Largos) */
@media (max-width: 1300px) {
    #vinho1 img {display: none; }
    #vinho2 img {display: none; }
    #vinho3 img {display: none; }
    #vinho4 img {display: none; }
}
@media (max-width: 480px) {
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
  
 #i{
    display: none;
 }
 #logo h2 img{
    display: none;
 }
}
@media (max-width: 990px) {
    /* Iniciando Header */
    #banner h2 {
        font-size: 45px;
    }

    #logo img {
        transition: 0.4;
        content: url(../assets/LogoAgnelloIcon_NoBg\ -\ Copy.png);
        width: 90px;
        height: 90px;
        margin-left: 1rem;
    }

    #conteudo #menu {
        gap: 4rem;
    }

    .titulo {
        font-size: 45px;
        margin-bottom: 2rem;
    }

    /* Encerrando Header */

    /* Iniciando Mais vendidos */
    #secaoMaisVendidos {
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        gap: 35px;
    }

    .cardVinhos {
        width: 250px;
    }

    .cardVinhos h3 {
        font-size: 18px;
    }

    .cardVinhos p {
        font-size: 16px;
    }

    /* Encerrando Mais vendidos */

    /* Iniciando Card de Promoção */
    .cardAd {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: visible;
        align-items: center;
        gap: 20px;
        height: 60%;
    }

    .cardAd img {
        border-radius: 21px;
        width: 100%;
        margin-top: 0rem;
        max-width: 600px;
    }

    .cardAd img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .cardAd img:not(:hover) {
        transition: 0.5s;
    }

    /* Encerrando Card de Promoção */

    /* Iniciando Escolha pelo Vinho */

    #escolhaVinhoArticle {
        gap: 2rem;
    }
    
    #escolhaVinhoAside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        gap: 20px;
        padding-bottom: 3rem;
    }

    .vinhoCategoria {
        cursor: pointer;
    }

    .vinhoCategoria:hover {
        transition: 0.5s;
        border: 2px solid #FFD700;
        opacity: 0.5;
    }
    .vinhoCategoria:not(:hover) {
        transition: 0.5s;
        border: 0px solid #FFD700;
        opacity: 1;
    }




    /* Encerrando Escolha Pelo Vinh */

    /* Iniciando Footer */
    footer {
        width: 100%;
        height: 50%;
        margin: auto;
        overflow-x: hidden;
    }

    #conteudoFooter {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
        gap: 3.5rem;
    }


    #faq {
        text-align: center;
        gap: 15px;
        margin: auto;
        margin-top: 20px;
    }

    #hr,
    #faq p {
        display: none;
    }

    #faq h4 {
        font-size: 20px;
        white-space: wrap;
        height: 5vh;
        text-align: center;
        align-content: center;
        background-color: #441d2d;
        border-radius: 10px;
        cursor: pointer;
    }
    #faq h4:hover {
        transition: 0.2s;
        opacity: 0.65;
    }

    #promocoes {
        margin: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #promocoes img {
        width: 300px;
    }

    #promocoes h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }

    #promocoes #email1 {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #promocoes input {
        width: 100%;

    }

    #btnEnviarEmail {
        width: 3rem;
        height: 3rem;
        text-align: center;
    }

    .direitos {
        margin-bottom: 20px;
    }
    /* Encerrando Footer */


}