/* Media Query para Celulares e Tablets (Pequenos e Largos) */
@media (max-width: 992px) {
    /* Iniciando Header */
    #banner h2 {
        font-size: 45px;
    }

    #logo img {
        transition: 0.4;
        content: url(../assets/LogoAgnelloIcon_NoBg\ -\ Copy.png);
        width: 90px;
        height: 90px;
        margin-left: 1rem;
    }

    #conteudo #menu {
        gap: 4rem;
    }

    .titulo {
        font-size: 45px;
        margin-bottom: 2rem;
    }

    /* Encerrando Header */

}