* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;

}

body {
  background-color: #080808;
}

/* zerar os espacamentos*/

/* comeco do header */
.navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/bg.filter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  filter: blur(8px);

}

#conteudo #menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11rem;

}

li {

  list-style: none;
  font-size: 1.2rem;

}

#logo img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin-left: 2rem;
}

header a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
}

header i {
  font-size: 30px;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 25%;
}

header {
  background-image: url('../assets/bg.filter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#banner {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#banner h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 3px;
}

ul li a:hover {
  color: #FFD700;
  text-decoration: underline;
  transition: 0.6s;
}

header i:hover {
  color: #FFD700;
  transition: 0.6s;
  border: 1px solid #fff;
  border-radius: 60%;

}

/* fim do header */

/* Início da Section */
.titulo {
  margin: 4.8rem;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#secaoMaisVendidos {
  display: flex;
  flex-wrap: wrap;
  gap: 118px;
  margin: 8rem;
}

.cardVinhos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 322px;
  height: 381px;
  background-color: #080808;
  box-shadow: 7px 7px 9px rgb(77, 22, 42, 0.5);
  border-radius: 5%;
}

.cardVinhos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 260px;
}

.cardVinhos h3 {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.cardVinhos p {
  color: #FFD700;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.cardVinhos:hover {
  transition: 1s;
  border: 1px solid #ffd9009f;
  cursor: pointer;
}

#btnVerTudo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #71213E;
  font-size: 25px;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px 20px;
  border: 3px solid #71213E;
}

#btnVerTudo:hover {
  transition: 0.5s;
  background-color: #71213E;
  color: #fff;
  cursor: pointer;
}
#btnVerTudo:not(:hover){
  transition: 0.5s;
}

/* Final da Section */