/* Media Query para Celulares e Tablets (Pequenos e Largos) */
@media (max-width: 992px) {
    /* Iniciando Header */
    #banner h2 {
        font-size: 45px;
    }

    #logo img {
        transition: 0.4;
        content: url(../assets/LogoAgnelloIcon_NoBg\ -\ Copy.png);
        width: 90px;
        height: 90px;
        margin-left: 1rem;
    }

    #conteudo #menu {
        gap: 4rem;
    }

    .titulo {
        font-size: 45px;
        margin-bottom: 2rem;
    }

    /* Encerrando Header */

    /* Iniciando Mais vendidos */
    #secaoMaisVendidos {
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        gap: 35px;
    }

    .cardVinhos {
        width: 250px;
    }

    .cardVinhos h3 {
        font-size: 18px;
    }

    .cardVinhos p {
        font-size: 16px;
    }

    /* Encerrando Mais vendidos */

    /* Iniciando Card de Promoção */
    .cardAd {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: visible;
        align-items: center;
        gap: 20px;
        height: 60%;
    }

    .cardAd img {
        border-radius: 21px;
        width: 60%;
        margin-top: 0rem;
    }

    .cardAd img:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    .cardAd img:not(:hover) {
        transition: 0.5s;
    }

    /* Encerrando Card de Promoção */


}